/* CORE CSS */
#bd-settings-sidebar::after {
	content: "Theme Version: 0.0.1";
	font-size: 12px;
	font-weight: 600;
	color: #72767d;
	padding: 2px 10px
}

/* Wordmark */
.wordmark-2iDDfm{background-color:transparent;opacity:.9;pointer-events:all}.wordmark-2iDDfm svg{background-color:transparent;background-image:url(https://i.imgur.com/aK9G5Pc.png);background-size:contain;width:100px;height:16px;padding-left:15px;padding-right:15px;margin-left:0;display:block;background-repeat: no-repeat!important;}
.wordmark-2iDDfm{color: transparent;}

/* Home Button */
.wrapper-1BJsBx[aria-label=Home] {
	background-image: var(--HomeButtonImg)!important;
	background-position: 66% 66%;
	background-size: 60% 80%;
	background-repeat: no-repeat;
	background-color: transparent!important
}

.circleIconButton-jET_ig,.container-1ETFDs,.container-2td-dC,.homeButton-2Cw51C,.iconSizeLarge-161qtT,.wrapper-2lTRaf,.wrapper-2lTRaf a {
	height: 45px!important;
	width: 45px!important;
	border-radius: 0!important
}

.container-1ETFDs,.homeButton-2Cw51C,.homeIcon-tEMBK1 {
	height: 30px!important;
	width: 30px!important
}

.homeButton-2Cw51C {
	position: relative;
	top: -5px;
	left: 13px;
	overflow: visible;
	z-index: 2
}

.homeButton-2Cw51C::after {
	content: "";
	top: -5px;
	background-color: var(--dark);
	width: 500%;
	height: 40px;
	position: absolute;
	z-index: -1;
	pointer-events: none;
	box-shadow: 1px 0 10px #000
}

/* Fonts */
.title-29uC1r {
	color: darkslategrey;
}

.markup-2BOw-j {
    color: darkslategrey;
}

.overflow-WK9Ogt {
    color: darkslategrey;
}

.name-uJV0GL {
    color: darkslategrey;
}

.title-eS5yk3 {
    color: darkslategrey;
}

.name-uJV0GL {
    color: darkslategrey;
}


/* Icons */
.clickable-3rdHwn .icon-22AiRD {
	color: #616161;
}

.selected-1GqIat .icon-22AiRD {
	color: #616161;
}

.button-3AYNKb {
	color: #616161;
}

.attachButtonPlus-jWVFah
{
	fill: #616161;
}
.clickable-3rdHwn .icon-22AiRD:hover {
	color: black;
}

.selected-1GqIat .icon-22AiRD:hover {
	color: black;
}

/* Header */

.container-1r6BKw.themed-ANHk51 {
	background: var(--dark);
}

.theme-dark .children-19S4PO:after {
    display:none;
}

/* Main Page Panels */

.scroller-1JbKMe {
	background: var(--medium);
	border-left: 1px solid var(--primary);
}

.scroller-2LSbBU {
	background: var(--medium);
}

.form-2fGMdU {
	background: var(--medium);
}

.textArea-12jD-V {
	background: var(--light);
}

.theme-dark .form-2fGMdU:before {
	display:none;
}

.scrollableContainer-2NUZem {
	background-color: var(--light);
}

.activityPanel-28dQGo {
	background-color: #202631;
	border-bottom: 1px solid var(--primary);
	border-top: 1px solid var(--primary);
	border-right: 1px solid var(--primary);
}

.panels-j1Uci_ {
	background-color: #202631;
}

.scroller-2TZvBN {
	background-color: #202631;
}

.container-3baos1 {
	border-right: 1px solid var(--primary);
}

.searchBar-6Kv8R2 {
	background: var(--dark);
}

.content-1o0f9g {
	background: var(--dark);
	color: darkslategrey;
}

.typeWindows-1za-n7 {
	background-color: #202631;
}

.members-1998pB {
	background-color: #202631;
}

.scroller-2wx7Hm {
	background-color: var(--medium);
}

.clickable-2ap7je .header-2o-2hj {
	background-color: var(--dark);
	border-left: 1px solid var(--primary);
}

