/* CORE CSS */
#bd-settings-sidebar::after {
	content: "Theme Version: 0.0.1";
	font-size: 12px;
	font-weight: 600;
	color: #72767d;
	padding: 2px 10px
}

/* Wordmark */
.wordmark-2iDDfm{background-color:transparent;opacity:.9;pointer-events:all}.wordmark-2iDDfm svg{background-color:transparent;background-image:url(https://b.catgirlsare.sexy/lJZg-O6g.png);background-size:contain;width:100px;height:16px;padding-left:15px;padding-right:15px;margin-left:0;display:block;background-repeat: no-repeat!important;}
.wordmark-2iDDfm{color: transparent;}

/* Fonts */
.title-29uC1r {
	color: black;
}

.markup-2BOw-j{
    color: black;
}

/* Icons */
.clickable-3rdHwn .icon-22AiRD {
	color: #616161;
}

.selected-1GqIat .icon-22AiRD {
	color: #616161;
}

.clickable-3rdHwn .icon-22AiRD:hover {
	color: black;
}

.selected-1GqIat .icon-22AiRD:hover {
	color: black;
}

/* Header */

.container-1r6BKw.themed-ANHk51 {
background: var(--dark);
}

.theme-dark .children-19S4PO:after {
    display:none;
}


